{{#scenario}}
<table class="table table-bordered table-striped table-hover table-fixed sortable">
    <thead>
        <tr>
            <th>Date</th>
            <th>Author</th>
            <th>Alert Type</th>
            <th>Alert Status</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        {{#alerts}}
        <tr class="filterable" data-href="#page=alerts&form=alerts&id={{ @index }}">
            <td>{{ customRender(date) }}</td>
            <td>{{author}}</td>
            <td>{{type}}</td>
            <td>{{status}}</td>
            <td>{{subject}}</td>
        </tr>
        {{/alerts}}
    </tbody>
</table>
{{/scenario}}
