{{#scenario}}
{{#vitals_sections}}
<!-- vital signs -->
<div class="panel panel-default">
    <div class="panel-heading" style="overflow:hidden">
    {{#if(hashParams.page == "assessment")}}
        <a href="#page=form&form={{slug}}" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add</a>
        <span style="width:200px;float:right;margin-right:20px">{{>filter}}</span>
    {{/if}}
    <h3 class="panel-title">{{label}}</h3>
    </div>
    <div class="panel-body">

    <table class="table table-bordered table-striped table-hover table-fixed sortable">
        <thead>
            <tr>
                {{#display}}
                <th style="width:{{width}};max-width:{{width}}">{{label}}</th>
                {{/display}}
                {{#if options.admin == 'true'}}<th style="width:80px"></th>{{/if}}
            </tr>
        </thead>
        <tbody>
            {{#_.extend([],scenario[slug]).reverse():t}}
            <tr class="filterable" data-href="#page={{slug}}&form={{slug}}&id={{ (scenario[slug].length-1) - @index }}">
                {{#display}}<td style="width:{{width}};max-width:{{width}}">{{prepend}}{{#calculation}}{{{calculation(_.extend([],scenario[slug]).reverse()[t])}}}{{/calculation}}{{#path}}{{{_.selectPath(_.extend([],scenario[slug]).reverse()[t],path)}}} {{/path}}  {{^path}}{{^sub}}{{_.extend([],scenario[slug]).reverse()[t][name]}}{{/sub}}{{#sub}}{{_.extend([],scenario[slug]).reverse()[t][name][sub]}}{{/sub}}{{/path}}{{append}}</td>{{/display}}
                {{#if options.admin == 'true'}}<td><a href="#page=form&form={{slug}}&id={{ (scenario[slug].length-1) - @index }}" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Edit</a> 
                <div data-action="delete" data-form="{{slug}}" data-id="{{ (scenario[slug].length-1) - @index }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Delete</div>
                </td>{{/if}}
            </tr>
            {{/scenario[slug]}}
        </tbody>
    </table>
    <h3>Notes</h3>
    {{#scenario[slug]}}
        {{#.}}
        <p>{{notes}}</p>
        {{/}}
    {{/}}
    </div>
</div>
{{/vitals_sections}}
{{/scenario}}
