{{#scenario}}
<table class="table table-bordered table-striped table-hover table-fixed sortable">
    <thead>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Note</th>
            <th>Upload</th>
        </tr>
    </thead>
    <tbody>
        {{#diagnostics}}
        <tr class="filterable" data-href="#page=diagnostics&form=diagnostics&id={{ @index }}">
            <td>{{type}}</td>
            <td>{{ customRender(date) }}</td>
            <td>{{note}}</td>
            <td><img src="{{upload}}"></td>
        </tr>
        {{/diagnostics}}
    </tbody>
</table>
{{/scenario}}
