{{#scenario}}

{{#lab_types}}
{{#results.length}}
<div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title">{{_.findWhere(Berry.collection.get('lab_types'),{name:name}).label}}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped table-hover table-fixed ">
            <thead>
                <tr>
                <tr>
                    <th>Lab Test</th>
                    {{#results}}<th><span style="font-weight:300">({{#admin}}<a href="#page=lab_results&id={{id}}">{{date}}{{^enable}} <span class="text-danger">hidden</span>{{/enable}}</a>{{/admin}}{{^admin}}{{date}}{{/admin}})</span></th>{{/results}}
                    <th>Unit</th>
                    {{!--<th>Abnormal Flag</th>--}}
                    <th>Reference Range</th>
                </tr>
            </thead>
            <tbody>
            {{#tests}}
                <tr class="filterable">
                    <td>{{test}}</td>
                        {{#results}}
                        {{#result}}
                        {{#if test == test_name}}
                            <td>{{value}}
                            
                            <span style="color:red">{{#max}}{{#if parseInt(value) > max}}HIGH{{/if}}{{/max}}{{#min}}{{#if parseInt(value) < min}}LOW{{/if}}{{/min}}</span>
                            </td>
                        {{/if}}
                        
                        {{/result}}
                        {{/results}}

                    <td>{{unit}}</td>
                    {{!--<td></td>--}}
                    <td>{{#range}}{{range}}{{/range}}{{^range}}{{min}}-{{max}} {{unit}}{{/range}}</td>
                </tr>
            {{/tests}}
            </tbody>
        </table>
    </div>
</div>
{{/results.length}}
{{/lab_types}}
{{/scenario}}
