{{#scenario}}
<!--Medication -->
<div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title">Prescription</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped table-hover table-fixed sortable">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Drug</th>
                    <th>Dose</th>
                    <th>route</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#prescription_orders}}
                {{#if approved == "Verified" && status !== "Discontinued"}}
                {{#if type !== 1}}
                <tr class="filterable" data-href="#page=prescription_orders&form=prescription_orders&id={{ @index }}">
                    <td>{{date}} {{time}}</td>
                    <td>{{medication}}</td>
                    <td>{{dose}}</td>
                    <td>{{route}}</td>
                    <td data-id="{{ @index }}">
                        
                        {{#medication_admin}}
                        <div style="padding-bottom:4px">Administered @ {{time}} on {{ moment(date).format("MMM Do") }} by {{administered_by}}
                            {{#admin}}<div data-action="delete" data-id="{{ @index }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Delete</div>{{/admin}}
                        </div>
                        {{/medication_admin}}
                        <div data-action="administer" data-id="{{ @index }}" class="btn btn-success btn-xs"><i class="fa fa-syringe"></i> Administer</div>
                    </td>
                </tr>
                {{/if}}
                {{/if}}
                {{/prescription_orders}}
            </tbody>
        </table>
    </div>
</div>
<!--Infusion -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Infusion</h3>
  </div>
  <div class="panel-body">
<table class="table table-bordered table-striped table-hover table-fixed sortable">
    <thead>
        <tr>
            <th>Time</th>
            <th>Drug</th>
            <th>Dose</th>
            <th>route</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#prescription_orders}}
        {{#if approved == "Verified" && status !== "Discontinued"}}
        {{#if type == 1}}
        <tr class="filterable" data-href="#page=prescription_orders&form=prescription_orders&id={{ @index }}">
            <td>{{date}} {{time}}</td>
            <td>{{med}}</td>
            <td>{{dose}}</td>
            <td>{{route}}</td>
            <td data-id="{{ @index }}">
                {{#medication_admin}}
                        <div style="padding-bottom:4px">Administered @ {{time}} on {{ moment(date).format("MMM Do") }} by {{administered_by}}
                    {{#admin}}<div data-action="delete" data-id="{{ @index }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Delete</div>{{/admin}}
                </div>
                {{/medication_admin}}
                <div data-action="administer" data-id="{{ @index }}" class="btn btn-success btn-xs"><i class="fa fa-syringe"></i> Administer</div>
            </td>
            
        </tr>
        {{/if}}
        {{/if}}
        {{/prescription_orders}}
    </tbody>
</table>
</div></div>
{{/scenario}}
