{{#scenario}}

<table class="table table-bordered table-striped table-hover table-fixed sortable">
    <thead>
        <tr>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Author</th>
            <th>Provider</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#prescription_orders}}
        {{#if approved == "Verified"}}
        <tr class="filterable" data-href="#page=medication_profile&form=prescription_orders&id={{ @index }}">
            <td>{{#if type == "1"}}Prescription{{else}}Infusion Meds{{/if}}</td>
            <td>{{ customRender(date) }}</td>
            <td>{{author}}</td>
            <td>{{_.findWhere(gform.collections.get('providers'),{id:parseInt(provider)}).first_name}} {{_.findWhere(gform.collections.get('providers'),{id:parseInt(provider)}).last_name}}</td>
            <td>{{#status}}<span class="text-danger">{{status}}</span>{{/status}}{{^status}}<span class="text-success">Active</span>{{/status}}</td>
        </tr>
        {{/if}}
        {{/prescription_orders}}
    </tbody>
</table>
{{/}}