  <ul class="nav nav-sidebar" style="position:relative;top:50px;{{#local}}top:90px;{{/local}}{{#admin}}top:90px;{{/admin}}">
    <li><a data-toggle="collapse" href="#group-user"><i class="fa fa-user fa-fw"></i>&nbsp; Welcome, {{user.first_name}}!</a></li>
    <ul class="collapse"  aria-expanded="true" id="group-user">
      <li class="" style="background:#33373a" ><a href="/logout"><i class="fa fa-times-circle fa-fw"></i>&nbsp; Logout</a></li>
      <li class="" style="background:#33373a" ><a href="/admin"><i class="fa fa-user-shield fa-fw"></i>&nbsp; Admin</a></li>
    </ul>

    {{#if (team_id || scenario_id)}}
    {{#apps_pages}}
        <li><a data-toggle="collapse" href="#group{{ id }}" aria-expanded="true"><i class="fa fa-{{#icon}}{{icon}}{{/icon}}{{^icon}}file{{/icon}} fa-fw"></i>&nbsp; {{ name }}</a></li>
        <ul class="collapse in"  aria-expanded="true" id="group{{ id }}">
        {{#pages}}
            <li class="page{{id}} {{#if ((hashParams.page == slug) ||  (hashParams.form == slug))}}active{{/if}}" style="background:#33373a" ><a href="#page={{slug}}{{#form}}&form={{form}}{{/form}}"><i class="fa fa-{{#icon}}{{icon}}{{/icon}}{{^icon}}file{{/icon}} fa-fw"></i>&nbsp; {{ name }}</a></li>
        {{/pages}}
        </ul>
    {{/apps_pages}}
    {{/if}}
  </ul>