{{#scenario}}
<table class="table table-bordered table-striped table-hover table-fixed sortable">
    <thead>
        <tr>
            <th>Role</th>
            <th>Author</th>
            <th>Subject</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{#scenario.notes}}
        <tr class="filterable" data-href="#page=notes&form=notes&id={{ @index }}">
            <td>{{role}}</td>
            <td>{{author}}</td>
            <td>{{subject}}</td>
            <td>{{date}}</td>
        </tr>
        {{/scenario.notes}}
    </tbody>
</table>
{{/scenario}}
