{{#scenario}}

{{#if !(hashParams.id )}}

<h3><a href="#page=notes"><i class="fa fa-th-list text-muted"></i> Notes</a></h3>
<hr>
<a href="#page=form&form=notes" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add</a>
<span style="width:200px;float:right;margin-right:20px">{{>filter}}</span><br><br>
<table class="table table-bordered table-striped table-hover table-fixed sortable">
    <thead>
        <tr>
            <th>Role</th>
            <th>Author</th>
            <th>Subject</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#notes.note}}
        <tr class="filterable" data-href="#page=notes&form=notes&id={{ @index }}">
            <td>{{role}}</td>
            <td>{{author}}</td>
            <td>{{subject}}</td>
            <td>{{date}}</td>
            <td>
                <a href="#page=form&form=notes&id={{ @index }}" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Edit</a>
                {{#admin}}<div data-action="delete" data-id="{{ @index }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Delete</div>{{/admin}}
            </td>
        </tr>
        {{/notes.note}}
    </tbody>
</table>
{{else}}
    <div class="btn-group pull-right btn-group-lg" style="margin-top:-10px" role="group">

        {{#if hashParams.id>0}}<a href="#page=notes&form=notes&id={{ hashParams.id -1 }}" class="btn btn-default btn-lg" title="Previous"><i class="fa fa-chevron-left"></i><div style="font-size:12px">Previous</div></a>{{/if}}
        <a href="#page=form&form=notes&id={{ hashParams.id}}" class="btn btn-info btn-lg" title="Edit"><i class="fa fa-edit"></i><div style="font-size:12px">Edit</div></a>
        {{#if hashParams.id<(notes.note.length-1)}}<a href="#page=notes&form=notes&id={{ parseInt(hashParams.id) +1 }}" class="btn-lg btn btn-default" title="Next"><i class="fa fa-chevron-right"></i><div style="font-size:12px">Next</div></a>{{/if}}

    </div>


<h3><a href="#page=notes"><i class="fa fa-th-list text-muted"></i> Note</a></h3>
<hr>
<div class="flow-container">
    <div id="form" class="view well"> </div>

</div>
{{/if}}
{{/scenario}}
