{{#scenario}}
<!--Orders -->
<div class="panel panel-default">
    <div class="panel-heading" style="overflow:hidden">
    {{#if(hashParams.page == "orders")}}
        <a href="#page=form&form=orders" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add</a>
        <span style="width:200px;float:right;margin-right:20px">{{>filter}}</span>
    {{/if}}
    <h3 class="panel-title"><i class="fa fa-prescription-list"></i> Orders</h3>
    </div>
    <div class="panel-body">
  

{{#scenario}}
<table class="table table-bordered table-striped table-hover table-fixed sortable">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Order Item</th>
            <th>Frequency</th>
            <th>Start on date/time</th>
            <th>End on date/time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#orders}}
        <tr class="filterable" data-href="#page=orders&form=orders&id={{ @index }}">
            <td>{{datetime}}</td>
            <td>{{order_item}}</td>
            <td>{{frequency}}</td>
            <td>{{start_time}}</td>
            <td>{{end_time}}</td>
            <td>{{status}}
            
                {{#if(status == "Completed")}}
                by {{completed_by}}                
                {{/if}}
            </td>

        </tr>
        {{/orders}}
    </tbody>
</table>
{{/scenario}}
    </div>
</div>
<!--Prescription -->
<div class="panel panel-default">
    <div class="panel-heading" style="overflow:hidden">
    {{#if(hashParams.page == "orders")}}
        <a href="#page=form&form=prescription_orders" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add</a>
        <span style="width:200px;float:right;margin-right:20px">{{>filter}}</span>
    {{/if}}
    <h3 class="panel-title"><i class="fa fa-prescription-bottle"></i> Prescription Orders</h3>
  </div>
  <div class="panel-body">
    {{>prescription_orders}}
</div></div>
{{/scenario}}









