{{#scenario}}


{{#summary_description}}<h3 class="panel-title">Report to learner</h3>
<p>{{summary_description}}</p>{{/summary_description}}

{{#["alerts","problems","assessment"]}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{{page_map[.].label}}}</h3>
  </div>
  <div class="panel-body">
  {{>.}}
  </div>
</div>
{{/}}


{{#["diagnostics","orders","labs","prescription_orders"]}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{{page_map[.].label}}}</h3>
  </div>
  <div class="panel-body">
  {{>.}}
  </div>
</div>
{{/}}

{{/scenario}}
