{{#scenario}}

{{#if options.admin == 'true'}}
<a href="#page=form&form=patient_info" class="btn btn-info pull-right"><i class="fa fa-edit"></i> Edit</a>
{{/if}}
<h3><a href="#page=patient_info"><i class="fa fa-id-badge text-muted"></i> Patient Info</a></h3>
<hr>
     
<div class="well" style="background:#fff">
    <div id="form" class="view well"> </div>
</div>
{{/scenario}}
