{{#scenario}}

<table class="table table-bordered table-striped table-hover table-fixed sortable">
    <thead>
        <tr>
            <th>Medication/Description</th>
            <th>Date</th>
            <th>Author</th>
            <th>Provider</th>
        </tr>
    </thead>
    <tbody>
        {{#prescription_orders}}
        <tr class="filterable" data-href="#page=prescription_orders&form=prescription_orders&id={{ @index }}">
            <!--<td>{{#if type == "0"}}Prescription{{else}}Infusion Meds{{/if}}</td>-->
            <td>{{medication}}{{description}}</td>
            <td>{{ customRender(date) }}</td>
            <td>{{author}}</td>
            <td>{{_.findWhere(gform.collections.get('providers'),{id:parseInt(provider)}).first_name}} {{_.findWhere(gform.collections.get('providers'),{id:parseInt(provider)}).last_name}}</td>
        </tr>
        {{/prescription_orders}}
    </tbody>
</table>
{{/scenario}}
