{{#scenario}}
<table class="table table-bordered table-striped table-hover table-fixed sortable">
    <thead>
        <tr>
            <th>Priority</th>
            <th>Status</th>
            <th>Description</th>
            <th>Date of Onset</th>
        </tr>
    </thead>
    <tbody>
        {{#problems}}
        <tr class="filterable" data-href="#page=problems&form=problems&id={{ @index }}">
            <td>{{priority}}</td>
            <td>{{status}}</td>
            <td>{{problem}}</td>
            <td>{{ customRender(onset) }}</td>
        </tr>
        {{/problems}}
    </tbody>
</table>
{{/scenario}}
