<div style="    margin-top: -20px;">
<div class="container">
  <a href="#" class="hospital-banner" style="text-decoration:none">
	<span class="bu-dark-green">DECKER</span> <span class="bu-light-green">HOSPITAL</span>
  </a>	    	    
  <a href="javascript:history.go(-1)" class="btn pull-right btn-default" style="margin:15px">Back</a>

</div>

<div class="container" id="container" style="min-height:300px"></div>
<div class="container">
  <div class="ehrfooter row">
    <div class="col-sm-11">
      DECKER HOSPITAL ELECTRONIC HEALTH RECORD
    </div>
    <div class="col-sm-1">
        <a href="javascript:if(confirm('Are you sure you want to reset this patient, this can not be undone?')){clear();}" style="font-size: 11px;padding:0px">Reset&nbsp;Patient</a>
	</div>
  </div>
</div>
</div>